{
    "presets": ["@babel/preset-env", 
    //     ["minify", {
    //     "builtIns": false,
    //     "removeConsole":true
    //   }]
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ]
    ],
    "comments": false
}